{% load static %}
<html>
<head>
    <meta charset='utf-8'>
     <meta http-equiv='X-UA-Compatible' content='IE-edge'>
        <title>Booking Status of The User</title>
        <meta name='viewport' content=width-device-width', initial-scale=1>
<!-- Include CSS File Here -->
<link rel="stylesheet" href="{% static 'login/css/style.css' %}"/>
</div>
</head>
<div class="container">
<div class="main">
<h2>Booking Status</h2>
<form action="{% url 'Register:sub' %}" method="POST">
        {% csrf_token %}
          <div style="text-align:center"></div>
          <label> Your Booking is Succesfully Done !!!</label>
                     <input type="submit" /><br>
          </div>  
</form>
</body>
</html>