<!DOCTYPE html>
<html lang="en-us" >
<head>
<title>Destination</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
<meta name="robots" content="NONE,NOARCHIVE">
</head>
<body class=" app-Dest model-destination change-form" data-admin-utc-offset="0">
<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">      
<h1 id="site-name"><a href="/admin/">Administration</a></h1>
      </div>        
        <div id="user-tools">
                Welcome,
                <strong>Admin</strong>
                    <a href="/">View site</a> /
                <a href="/">Log out</a>           
        </div>
    </div>
    <!-- END Header -->  
<div class="breadcrumbs">
<a href="#">Home</a>
&rsaquo; <a href="#">Dest</a>
&rsaquo; <a href="#">Destinations</a>
&rsaquo; Add destination
</div>
    <!-- Content -->
    <div id="content" class="colM">
        <h1>Add destination</h1>
        <div id="content-main">
                        <div class="actions">
                                        <label>Action: <select name="action" required>
                                      <option value="" selected>---------</option>
                                      <option value="delete_selected">Delete selected destinations</option>
                                    </select></label><input type="hidden" name="select_across" value="0" class="select-across">
                                        <button type="submit" class="button" title="Run the selected action" name="index" value="0">Go</button>
                                            <span class="action-counter" data-actions-icnt="3">0 of 3 selected</span>
                                    </div>
<form action="dest" method="POST" enctype="multipart/form-data" enctype="multipart/form-data">
<input type="hidden" name="csrfmiddlewaretoken" value="tAA51I3FEoUEufmHj7V8mvFM9FHV67gE9xOszR2XTUbX0qSoYmCAPeqqdGpxKKpy">                
    {% csrf_token %}
        <div>
        <fieldset class="module aligned ">
              <div class="form-row field-name">
                      <div>
                           <label class="required" for="id_name">Name:</label>
                           <input type="text" name="name" class="vTextField" maxlength="100" required id="id_name">    
                      </div>
              </div>
              <div class="form-row field-desc">
                      <div>
                       <label class="required" for="id_desc">Desc:</label>
                       <textarea name="desc" cols="40" rows="10" class="vLargeTextField" required id="id_desc"></textarea>   
                      </div>  
              </div>
              <div class="form-row field-price">
                      <div>
                         <label class="required" for="id_price">Price:</label>
                         <input type="number" name="price" class="vIntegerField" required id="id_price">  
                      </div>    
              </div>
              <div class="form-row field-img">
                      <div>
                          <label class="required" for="id_img">Img:</label>
                          <input type="file" name="img" accept="image/*" required id="id_img">
                      </div>
              </div>
              <div class="form-row field-offer">
                      <div class="checkbox-row">    
                              <input type="checkbox" name="offer" id="id_offer"><label class="vCheckboxLabel" for="id_offer">Offer</label>
                      </div>            
             </div>
</fieldset>
</form>
<div class="submit-row">
<input type="submit" value="Save" class="default" name="_save">
</div>